@import url('https://fonts.googleapis.com/css?family=Alice');

/* body */

body {
  background-image: url("http://i68.tinypic.com/wu1pxl.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: lightblue;
  font-family: 'Alice', serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
}

#title-image {
  height: 50px;
  width: 80px;
}

#quote-box {
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-left: 60px;
  margin-right: 60px;
}

#quote-button {
  background-color: lightblue;
  font-weight: bold;
  font-size: 30px;
}